# Python virtual environment directories
.venv/
venv/

# Django secret keys and environment variables
.env

# Docker-related files
docker-compose.yml

# Git version control directories
.git/

# PyCharm or other IDE configuration directories
.idea/

# MacOS-specific system files
.DS_Store

# Windows-specific system files
Thumbs.db

# Python bytecode
__pycache__/

# Log files
*.log

# Node modules (if you're using them)
node_modules/

# Temporary files
*.swp
*.bak
